body {
  font-family: Arial;
  color: #111;
  margin: 30px;
}
h1 {
  margin: 0px;
  text-align: center;
}
h2 {
  margin: 0px;
}
p {
  color: #b2b2b2;
}
a {
  display: inline-block;
  background: #febe01;
  color: #320;
  padding: 10px 20px;
  border-radius: 4px;
  text-decoration: none;
}
.item {
  background: #111;
  color: #fff;
  padding: 30px;
  margin: 30px;
  border-radius: 4px;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
.amarelo {
  color: #febe01;
}